policy_module(mulecoin, 1.100.1)

########################################
#
# Declarations
#

type mulecoin_t;
type mulecoin_exec_t;
init_daemon_domain(mulecoin_t, mulecoin_exec_t)

permissive mulecoin_t;

type mulecoin_initrc_exec_t;
init_script_file(mulecoin_initrc_exec_t)

type mulecoin_conf_t;
files_type(mulecoin_conf_t)

type mulecoin_var_lib_t;
files_type(mulecoin_var_lib_t)

type mulecoin_var_run_t;
files_type(mulecoin_var_run_t)

type mulecoin_port_t;
corenet_port(mulecoin_port_t)

########################################
#
# mulecoin local policy
#
allow mulecoin_t self:process { fork };

allow mulecoin_t self:fifo_file rw_fifo_file_perms;
allow mulecoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(mulecoin_t, mulecoin_conf_t, mulecoin_conf_t)
manage_files_pattern(mulecoin_t, mulecoin_conf_t, mulecoin_conf_t)

manage_dirs_pattern(mulecoin_t, mulecoin_var_lib_t, mulecoin_var_lib_t)
manage_files_pattern(mulecoin_t, mulecoin_var_lib_t, mulecoin_var_lib_t)
files_var_lib_filetrans(mulecoin_t, mulecoin_var_lib_t, { dir file })

manage_dirs_pattern(mulecoin_t, mulecoin_var_run_t, mulecoin_var_run_t)
manage_files_pattern(mulecoin_t, mulecoin_var_run_t, mulecoin_var_run_t)

sysnet_dns_name_resolve(mulecoin_t)
corenet_all_recvfrom_unlabeled(mulecoin_t)

allow mulecoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(mulecoin_t)
corenet_tcp_sendrecv_generic_node(mulecoin_t)
corenet_tcp_sendrecv_all_ports(mulecoin_t)
corenet_tcp_bind_generic_node(mulecoin_t)

gen_require(`
    type mulecoin_port_t;
')
allow mulecoin_t mulecoin_port_t:tcp_socket name_bind;

gen_require(`
    type mulecoin_port_t;
')
allow mulecoin_t mulecoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(mulecoin_t)

files_read_etc_files(mulecoin_t)

miscfiles_read_localization(mulecoin_t)

sysnet_dns_name_resolve(mulecoin_t)

allow mulecoin_t mulecoin_exec_t:file execute_no_trans;
allow mulecoin_t self:process setsched;
corecmd_exec_ls(mulecoin_t)
corenet_tcp_connect_http_port(mulecoin_t)
dev_read_urand(mulecoin_t)
fs_getattr_xattr_fs(mulecoin_t)
kernel_read_system_state(mulecoin_t)
